.container.matchScoreCard{
    margin-top: 60px;
    max-width: 120% !important;
}
.card{
    --bs-card-cap-padding-y: 0.2rem;
    --bs-card-cap-padding-x: 0.4rem;
}
.matchSingleTitle{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: sans-serif;
}
.matchSingleDetail{
    font-weight: 500;
    font-size: 0.9rem;
}
.matchSingleDetail.data{
    font-weight: 500;
    color: darkgray;
}
.matchNav{
    padding-left: 10px;
}
.nav-underline{
    color: black !important;
}
.nav-link{
    color: black;
    font-size: 1.1rem !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.nav-link.active{
    color: cornflowerblue !important;
}
.card-title.matches{
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 0px;
    margin: 0px;
}
.matchesScore{
    color: darkmagenta;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: math;
}
.card{
    --bs-card-cap-padding-y: 0.2rem;
    --bs-card-cap-padding-x: 0.4rem;
}
.matchStatus{
    color: cornflowerblue;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.currentRr{
    color: darkgray;
    font-weight: 700;
    font-size: 0.9rem;
}