#footer{
    background-color: #868e96!important;
    color: white;
    text-align: center;
    display: block;
    padding: 1px;
    margin: 0px;
    margin-top: 25px;
    font-size: 0.8rem;
    font-family: cursive;
}

@media screen and (min-width: 10px) and (max-width: 1000px) {
    #footer{
        font-size: 1.2rem;
        font-family: monospace;
    }
}