#header{
    background-color:  dodgerblue !important;
/*rgb(28, 150, 232)*/
    --bs-navbar-padding-y: 0.3rem !important;
    color: white !important;
}
#brandImage{
    border-radius: 5px;
    padding: 0px !important;
    width: 8.3rem;
    height: 2.5rem;
    margin-left: 4px !important;
    box-shadow: 0.5px 0.5px 1px 0.5px cornsilk;
}
#headerContainer {
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 4px !important;
}
.headerOptions{
    color: white !important;
    font-size: 1rem;
}
.activateNavBtn{
    font-weight: 600 !important;
}
.deactivateNavBtn{
    font-weight: 300 !important;
}
.headerOptions.btn-primary{
    float: right;
    position: relative;
    display: block;
    margin-right: 5px;
    font-weight: bolder;
}

@media screen and (min-width: 10px) and (max-width: 1000px) {
    #brandImage{
        width: 14rem;
        height: 4.5rem;
    }
    .headerOptions{
        font-size: 2.5rem;
        margin-right: 0.5rem;
    }
    #headerContainer {
       font-size: 2.5rem;
        height: 5rem;
    }
    a.headerOptions.btn.btn-primary {
        font-size: 2.5rem !important;
        width: 10rem;
        padding: 1px;
    }
}