.login100-form-title {
    font-family: serif !important;
}


@media screen and (min-width: 10px) and (max-width: 1000px) {
    .btn-google.m-b-20 {
        height: 9rem !important;
        font-size: 3.2rem !important;
        margin-top: 3rem;
        padding: 3rem;
    }

    .input100 {
        font-size: 3.2rem !important;
        padding: 4rem !important;
    }

    .login100-form-btn {
        font-size: 3.4rem !important;
        padding: 3.5rem !important;
        font-family: serif !important;
    }
    .txt2 {
        font-size: 2.4rem !important;
    }
}