.container.matches{
    margin-top: 10px;
    padding: 65px !important;
    max-width: 120% !important;
}
.accordion-item.matches{
    padding: 0px;
    /*width: 1500px;*/
    /*position: relative;*/
    /*right: 92px;*/
}
.card-header.matches{
     /*color: white; !important;*/
     /*background-color: cornflowerblue !important;*/
     font-size: 0.8rem;
 }
.card-title.matches{
    font-family: monospace;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}
.card-body.matches{
    text-align: left !important;
}
.matchesTeamName{
    font-size: 1rem;
}
.matchesScore{
    color: darkmagenta;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: math;
}
.card{
    --bs-card-cap-padding-y: 0.2rem;
    --bs-card-cap-padding-x: 0.4rem;
}
.matchStatus{
    color: cornflowerblue;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.showCard{
    display: block;
}
.hideCard{
    display: none;
}
.svgArrow{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
}
.accordion-button.matchType{
    text-transform: uppercase;
    font-weight: 500;
}
.matchDesc{
    float: left;
}
.matchSeriesName{
    float: right;
}
.matchStartTime{
    color: darkmagenta;
    font-family: sans-serif;
}

.matchCards:hover{
    cursor: pointer;
}
.card.matches {
    max-width: 50rem !important;
}
.btn.getAlerts{
    float: right;
}
.btn.getAlerts:hover{
    cursor: pointer;
}


/*Responsive UI*/
@media screen and (min-width: 10px) and (max-width: 450px){
    .card.matches{
        max-width: 20rem !important;
        border-radius: 15px;
    }
}

@media screen and (min-width: 451px) and (max-width: 1000px) {
    .container.matches{
        margin-top: 10px;
        max-width: 100% !important;
        padding: 54px 2px !important;
    }
    .card.matches{
        max-width: 60rem !important;
        border-radius: 15px;
    }
}

@media screen and (min-width: 10px) and (max-width: 1000px) {
    .card.matches {
        height: 20rem !important;
    }
    .container.matches{
        margin-top: 35px;
    }
    .accordion-button.matchType{
        height: 5rem !important;
        font-size: 1.8rem;
    }
    .card-header.matches {
        font-size: 2rem;
    }
    .card-title.matches {
        font-size: 2.2rem;
    }
    .matchesTeamName {
        font-size: 2.2rem;
    }
    .matchesScore{
        color: darkslategray;
        font-size: 2.2rem;
        font-weight: 400;
    }
    .matchStatus{
        font-size: 2.2rem;
    }
    .btn.btn-primary{
        font-size: 2rem !important;
    }
    .svgArrow{
        height: 2.2rem;
        width: 2.2rem;
    }
    .card-title.matches{
        display: none;
    }
    .card.matches{
        height: 18rem;
        margin-bottom: 0 !important;
    }
    .card-header.matches{
        padding: 0.7rem;
    }
    .card-body.matches{
        padding: 1.2rem;
    }
    .matchStartTime{
      font-size: 2.2rem;
    }
}