.container.matches{
    margin-top: 10px;
    padding: 65px !important;
}
.accordion-item.matches{
    padding: 0px;
    /*width: 1500px;*/
    /*position: relative;*/
    /*right: 92px;*/
}
.card-header.matches{
     color: white; !important;
     background-color: cornflowerblue !important;
     font-size: 0.8rem;
 }
.card-title.matches{
    font-family: monospace;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
.card-body.matches{
    text-align: left !important;
}
.matchesTeamName{
    font-size: 14px;
}
.matchesScore{
    color: darkmagenta;
    font-weight: 500;
    font-size: 14px;
    font-family: math;
}
.card{
    --bs-card-cap-padding-y: 0.2rem;
    --bs-card-cap-padding-x: 0.4rem;
}
.matchStatus{
    color: mediumpurple;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 13px;
}
.showCard{
    display: block;
}
.hideCard{
    display: none;
}
.svgArrow{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
}