<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=1000,user-scalable=0">
  <title>LiveCricketScores</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link th:href="@{/css/Header.css}" type="text/css" rel="stylesheet"/>
  <link th:href="@{/css/Footer.css}" type="text/css" rel="stylesheet"/>
  <link th:href="@{/css/ManageAlerts.css}" type="text/css" rel="stylesheet"/>

</head>
<body>
<div data-th-insert="~{fragments/LoggedInHeader :: cricHeaderLoggedIn}"></div>


<div class="container text-center" style="margin-top: 70px;">
  <h3 class="userName" data-th-text="${'Welcome '+userName}"></h3>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <div data-th-if="${isManageAlertTab == false}" data-th-remove="tag">
        <button class="nav-link subAlerts active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true">Subscribe Alerts</button>
        <button class="nav-link viewAlerts inActive" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">Manage Alerts</button>
      </div>
      <div data-th-if="${isManageAlertTab == true}" data-th-remove="tag">
        <button class="nav-link subAlerts inActive" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                role="tab" aria-controls="nav-home" aria-selected="false">Subscribe Alerts</button>
        <button class="nav-link viewAlerts active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="true">Manage Alerts</button>
      </div>
      </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div data-th-if="${isManageAlertTab == false}" data-th-remove="tag">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <div class="card" style="text-align: left;">
        <div class="card-body">
          <h5 class="card-title">Choose the desired alert</h5>
          <form th:action="@{/alerts/subscribeAlert}" th:object="${alertDetails}" method="post">
              <p class="card-text">
                <label for="matchType" class="fields">Match Type: </label>
                  <select name="matchType" id="matchType" th:field="*{matchType}">
                    <div data-th-if="${isLive}" data-th-remove="tag">
                      <option value="live" selected>Live</option>
                      <option value="upcoming" >Upcoming</option>
                    </div>
                    <div data-th-if="${!isLive}" data-th-remove="tag">
                      <option value="live">Live</option>
                      <option value="upcoming" selected>Upcoming</option>
                    </div>
                  </select>
                <br>
                <label for="seriesName" class="fields">Series Name: </label>
                  <select name="seriesName" id="seriesName" th:field="*{seriesId}">
                    <option value="-1">None</option>
                    <div data-th-each="series : ${seriesMap}" data-th-remove="tag">
                      <div data-th-if="${selectedSeriesId == series.key}" data-th-remove="tag">
                        <option data-th-value="${series.key}"  selected data-th-text="${series.value}"></option>
                      </div>
                      <div data-th-if="${selectedSeriesId != series.key}" data-th-remove="tag">
                        <option data-th-value="${series.key}" data-th-text="${series.value}"></option>
                      </div>
                    </div>
                  </select>
                 &nbsp;
                <label th:if="${isSeriesSelected == false}" style="color: red">required</label>
                <br>
                <label for="matchName" class="fields">Match Name: </label>
                  <select name="matchName" id="matchName" th:field="*{matchId}">
                    <option value="-1">None</option>
                    <div data-th-each="match : ${matchesMap}" data-th-remove="tag">
                      <div data-th-if="${selectedMatchId == match.key}" data-th-remove="tag">
                        <option data-th-value="${match.key}"  selected data-th-text="${match.value}"></option>
                      </div>
                      <div data-th-if="${selectedMatchId != match.key}" data-th-remove="tag">
                        <option data-th-value="${match.key}" data-th-text="${match.value}"></option>
                      </div>
                    </div>
                  </select>
                &nbsp;
                <label th:if="${isMatchSelected == false}" style="color: red">required</label>
                <br>
                <label for="alertType" class="fields">Alert Type: </label>
                  <select name="alertType" id="alertType" th:field="*{alertType}">
                    <div data-th-each="alertType : ${alertTypeMap}" data-th-remove="tag">
                      <div data-th-if="${alertType.key.equals('score')}" data-th-remove="tag">
                        <option data-th-value="${alertType.key}" data-th-text="${alertType.value}" selected></option>
                      </div>
                      <div data-th-if="${!alertType.key.equals('score')}" data-th-remove="tag">
                        <option data-th-value="${alertType.key}" data-th-text="${alertType.value}"></option>
                      </div>
                    </div>
                  </select>
                <br>
                <label for="timePeriod" class="fields">Time Period:   </label>
                <select name="timePeriod" id="timePeriod" th:field="*{timePeriod}">
                  <div data-th-each="timePeriod : ${timePeriodMap}" data-th-remove="tag">
                    <div data-th-if="${timePeriod.key.toString.equals('5')}" data-th-remove="tag">
                      <option data-th-value="${timePeriod.key}" data-th-text="${timePeriod.value}" selected></option>
                    </div>
                    <div data-th-if="${!timePeriod.key.toString().equals('5')}" data-th-remove="tag">
                      <option data-th-value="${timePeriod.key}" data-th-text="${timePeriod.value}"></option>
                    </div>
                  </div>
                </select>
              </p>
            <button type="submit" class="btn btn-primary" style="min-width: 20px;" >Subscribe Alert</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    <div data-th-if="${isManageAlertTab == true}" data-th-remove="tag">
      <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0" style="display: block; transition: opacity .15s linear">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Mail Id</th>
            <th scope="col">Series Name</th>
            <th scope="col">Match Name</th>
            <th scope="col">Active Status</th>
          </tr>
          </thead>
          <tbody>
          <tr th:if="${alertList.isEmpty()}" scope="row">
            <td colspan="2"> No Alerts Subscribed </td>
          </tr>
          <tr th:each="alert : ${alertList}" scope="row">
            <td><span th:text="${alert.mailId}"> Mail Id </span></td>
            <td><span th:text="${alert.seriesName}"> Series Name </span></td>
            <td><span th:text="${alert.matchName}"> Match Name </span></td>
            <td>
            <a th:if="${alert.isActive == true}" class="isAlertActive" th:href="@{/alerts/updateAlert(alertId=${alert.getAlertId()}, isActive=${!alert.getIsActive()})}">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi av bi-toggle-on" viewBox="0 0 16 16">
                <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
              </svg>
            </a>
            <a th:if="${alert.isActive == false}" class="isAlertActive" th:href="@{/alerts/updateAlert(alertId=${alert.getAlertId()}, isActive=${!alert.getIsActive()})}">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi av bi-toggle-off" viewBox="0 0 16 16">
                <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
              </svg>
            </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div th:if="${isAlertScheduled}" data-th-remove="tag">
  <div aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3" style="background-color: white!important;">
    <div class="toast-container p-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container p-3">
      <div class="toast fade show" style="--bs-toast-max-width: 375px;">
        <div class="toast-header">
          <label class="me-auto" style="color: rgb(0, 122, 255);">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
            </svg> &nbsp;
            Alert Scheduled </label>
            <label data-th-text="${alertMailId}"></label>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <label style="font-weight: bold">Series: &nbsp;</label><label data-th-text="${seriesName}"></label><br>
          <label style="font-weight: bold">Match: &nbsp;</label><label data-th-text="${matchName}"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-th-insert="~{fragments/Footer :: cricFooter}"></div>
<script th:src="@{/js/ManageAlerts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>