<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=1000,user-scalable=0">
    <title>LiveCricketScores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link th:href="@{/css/Header.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/Footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/CSCommon.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/ViewMatchScoreCard.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div data-th-insert="~{fragments/Header :: cricHeader}"></div>
<div class="container matchScoreCard">
    <div class="card">
        <div class="matchSingleTitle card-header" data-th-text="${matchScoreCard.matchHeader.team1.name + '  Vs  ' + matchScoreCard.matchHeader.team2.name
           +', '+matchScoreCard.matchHeader.matchDescription + '  -  ' + matchScoreCard.matchHeader.state }"></div>
        <div class="card-body">
            <span class="matchStatus mobile" style="display: none;" data-th-text="${matchScoreCard.status}"></span>
            <span class="matchSingleDetail">Series: </span>
            <span class="matchSingleDetail data" data-th-text="${'  '+matchScoreCard.matchHeader.seriesDesc}"></span>&nbsp;
            <span class="matchSingleDetail">Venue: </span>
            <span class="matchSingleDetail data" data-th-text="${'  '+matchVenue}"></span>&nbsp;
            <span class="matchSingleDetail">Date & Time: </span>
            <span class="matchSingleDetail data" data-th-text="${'  '+matchScoreCard.matchHeader.matchStartTimestamp}"></span>
        <div class="matchNav">
            <div class="nav nav-underline" id="nav-tab" role="tablist">
                <a data-th-href="${'/matches/getMatch/'+matchScoreCard.getMatchHeader().getMatchId()+'/'+matchVenue}" class="nav-link">Commentary</a>
                <a  class="nav-link active" >Scorecard</a>
            </div>
            <div>
                <p class="card-text">
                <h6 class="card-title matches" data-th-text="${matchScoreCard.matchHeader.team1.name+' Vs '+matchScoreCard.matchHeader.team2.name}">card title</h6>
                <span class="matchesTeamName" data-th-text="${matchScoreCard.matchHeader.matchTeamInfo.get(0).battingTeamShortName+'   '}"></span>
                <div  data-th-if="${matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty() }" data-th-remove="tag" >
                    &nbsp;<span class="matchesScore" data-th-text="${matchScoreCard.scoreCard.get(0).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(0).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(0).scoreDetails.overs + ')'}">
                                                                    </span>
                    <div data-th-if="${matchScoreCard.scoreCard.size() > 2}" data-th-remove="tag" >
                        &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchScoreCard.scoreCard.get(2).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(2).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(2).scoreDetails.overs + ')'}">
                                                                    </span>
                    </div>
                </div>
                <br><span class="matchesTeamName" data-th-text="${matchScoreCard.matchHeader.matchTeamInfo.get(0).bowlingTeamShortName+'   '}"></span>
                <div data-th-if="${matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty()
                                                                        && matchScoreCard.scoreCard.size() > 1}" data-th-remove="tag" >
                    &nbsp;<span class="matchesScore" data-th-text="${matchScoreCard.scoreCard.get(1).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(1).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(1).scoreDetails.overs + ')'}">
                                                            </span>
                    <div data-th-if="${matchScoreCard.scoreCard.size() > 3}" data-th-remove="tag" >
                        &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchScoreCard.scoreCard.get(3).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(3).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(3).scoreDetails.overs + ')'}">
                                                                    </span>
                    </div>
                </div>
                <br><span class="matchStatus pc" data-th-text="${matchScoreCard.status}"></span>
                <div data-th-if="${matchScoreCard.scoreCard == null && matchScoreCard.isMatchComplete == false && matchScoreCard.matchHeader.complete == false}" data-th-remove="tag" >
                    <span class="matchStartTime" data-th-text="${'Starts on '+matchScoreCard.matchHeader.matchStartTimestamp}"></span>
                </div><br>
                <span class="currentRr" data-th-text="${'CRR:  '+matchScoreCard.scoreCard.get(matchScoreCard.scoreCard.size()-1).scoreDetails.runRate}"></span>
                <div data-th-each="scoreCard,iter1 : ${matchScoreCard.scoreCard}">
                    <div class="card text-bg-light mb-3" style="max-width: 60%;">
                        <div class="card-header inningsDetail" data-th-text="${scoreCard.batTeamDetails.batTeamShortName}">Header</div>
                        <div class="card-body">
                            <div class="container text-left inningsScoreDetail">
                                <div class="row card-header">
                                    <div class="col-3">Batter</div>
                                    <div class="col-4"></div>
                                    <div class="col">R</div>
                                    <div class="col">B</div>
                                    <div class="col">4S</div>
                                    <div class="col">6S</div>
                                    <div class="col">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_1.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_2.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_3.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_4.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_5.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_6.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_7.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_8.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_9.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_10.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.strikeRate}">SR</div>
                                </div>
                                <div class="row">
                                    <div class="col-3" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.batName}">Batter</div>
                                    <div class="col-4" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_11.outDesc}"></div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.runs}">R</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.balls}">B</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.fours}">4S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.sixes}">6S</div>
                                    <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.strikeRate}">SR</div>
                                </div>
                            </div>
<!--                            <h5 class="card-title">Light card title</h5>-->
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        </div>
                    </div>
                </div>
                </p>
            </div>

        </div>
        </div>
    </div>
</div>
<div data-th-insert="~{fragments/Footer :: cricFooter}"></div>
<script th:src="@{/js/ViewMatchScoreCard.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>