<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=1000,user-scalable=0">
    <title>LiveCricketScores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link th:href="@{/css/Header.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/Footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/ViewMatchScoreCard.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div data-th-insert="~{fragments/Header :: cricHeader}"></div>
<div class="container matchScoreCard">
    <div class="card">
        <div class="card-body">
           <span class="matchSingleTitle" data-th-text="${matchScoreCard.matchHeader.team1.name + '  Vs  ' + matchScoreCard.matchHeader.team2.name
           +', '+matchScoreCard.matchHeader.matchDescription + '  -  ' + matchScoreCard.matchHeader.state }"></span>
            <br>
            <span class="matchSingleDetail">Series: </span>
            <span class="matchSingleDetail data" data-th-text="${'  '+matchScoreCard.matchHeader.seriesDesc}"></span>&nbsp;
            <span class="matchSingleDetail">Venue: </span>
            <span class="matchSingleDetail data" data-th-text="${'  '+matchVenue}"></span>&nbsp;
            <span class="matchSingleDetail">Date & Time: </span>
            <span class="matchSingleDetail data" data-th-text="${'  '+matchScoreCard.matchHeader.matchStartTimestamp}"></span>
        </div>
        <div class="matchNav">
            <nav>
                <div class="nav nav-underline" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-commentary-tab" data-bs-toggle="tab" data-bs-target="#nav-commentary" type="button" role="tab" aria-controls="nav-commentary" aria-selected="true">Commentary</button>
                    <button class="nav-link" id="nav-scorecard-tab" data-bs-toggle="tab" data-bs-target="#nav-scorecard" type="button" role="tab" aria-controls="nav-scorecard" aria-selected="false">Scorecard</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-commentary" role="tabpanel" aria-labelledby="nav-commentary-tab" tabindex="0">
                    <p class="card-text">
                    <h6 class="card-title matches" data-th-text="${matchScoreCard.matchHeader.team1.name+' Vs '+matchScoreCard.matchHeader.team2.name}">card title</h6>
                        <span class="matchesTeamName" data-th-text="${matchScoreCard.matchHeader.matchTeamInfo.get(0).battingTeamShortName+'   '}"></span>
                    <div  data-th-if="${matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty() }" data-th-remove="tag" >
                        &nbsp;<span class="matchesScore" data-th-text="${matchScoreCard.scoreCard.get(0).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(0).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(0).scoreDetails.overs + ')'}">
                                                                    </span>
                        <div data-th-if="${matchScoreCard.scoreCard.size() > 2}" data-th-remove="tag" >
                            &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchScoreCard.scoreCard.get(2).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(2).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(2).scoreDetails.overs + ')'}">
                                                                    </span>
                        </div>
                    </div>
                    <br><span class="matchesTeamName" data-th-text="${matchScoreCard.matchHeader.matchTeamInfo.get(0).bowlingTeamShortName+'   '}"></span>
                    <div data-th-if="${matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty()
                                                                        && matchScoreCard.scoreCard.size() > 1}" data-th-remove="tag" >
                        &nbsp;<span class="matchesScore" data-th-text="${matchScoreCard.scoreCard.get(1).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(1).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(1).scoreDetails.overs + ')'}">
                                                            </span>
                        <div data-th-if="${matchScoreCard.scoreCard.size() > 3}" data-th-remove="tag" >
                            &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchScoreCard.scoreCard.get(3).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(3).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(3).scoreDetails.overs + ')'}">
                                                                    </span>
                        </div>
                    </div>
                    <br><span class="matchStatus" data-th-text="${matchScoreCard.status}"></span>
                    <div data-th-if="${matchScoreCard.scoreCard == null && matchScoreCard.isMatchComplete == false && matchScoreCard.matchHeader.complete == false}" data-th-remove="tag" >
                        <span class="matchStartTime" data-th-text="${'Starts on '+matchScoreCard.matchHeader.matchStartTimestamp}"></span>
                    </div><br>
                    <span class="currentRr" data-th-text="${'CRR:  '+matchScoreCard.scoreCard.get(matchScoreCard.scoreCard.size()-1).scoreDetails.runRate}"></span>
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-scorecard" role="tabpanel" aria-labelledby="nav-scorecard-tab" tabindex="0">
                    scorecard
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-insert="~{fragments/Footer :: cricFooter}"></div>
<script th:src="@{/js/ViewMatchScoreCard.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>