<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=1000,user-scalable=0">
    <title>LiveCricketScores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link th:href="@{/css/Header.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/Footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/ViewMatches.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div data-th-insert="~{fragments/Header :: cricHeader}"></div>
<div class="container matches">
    <div data-th-each="typeMatch,iter1 : ${typeMatches}">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item matches">
                <h2 class="accordion-header">
                    <button class="accordion-button matchType" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse"
                            data-th-attrappend="data-bs-target=${iter1.index}" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne" data-th-text="${typeMatch.matchType}" />
                </h2>
                <div id="panelsStayOpen-collapse" data-th-attrappend="id=${iter1.index}" class="accordion-collapse collapse"
                     data-th-classappend="${iter1.index == 0} ? 'show' : ''">
                    <div class="accordion-body">
                        <div class="grid text-center">
                            <span style="display: none" id="matchTypesSize" data-th-text="${iter1.size}"></span>
                            <div data-th-each="seriesMatch,iter2 :${typeMatch.seriesMatches}" data-th-remove="tag">
                                <div data-th-if="${seriesMatch.seriesAdWrapper != null}" data-th-remove="tag">
                                    <div data-th-each="matchData,iter3 :${seriesMatch.seriesAdWrapper.matches}" data-th-remove="tag">
                                        <div class="g-col-6 g-col-md-4 matchesCards showCard" data-th-classappend="matchCard+${iter1.index}" >
                                            <div class="card matchCards text-bg-light mb-3" style="max-width: 25rem; border-radius: 15px">
                                                <div class="card-header matches cardHeaderClass">
                                                    <span class="matchDesc" data-th-text="${matchData.matchInfo.matchDesc}"></span>
                                                    <span  class="matchSeriesName" data-th-text="${matchData.matchInfo.seriesName}"></span>
                                                    <span  class="matchId" data-th-text="${matchData.matchInfo.matchId}" style="display: none;"></span>
                                                </div>
                                                <div class="card-body matches">
                                                    <h6 class="card-title matches" data-th-text="${matchData.matchInfo.team1.teamSName+' Vs '+matchData.matchInfo.team2.teamSName}">Primary card title</h6>
                                                    <p class="card-text">
                                                        <span class="matchesTeamName" data-th-text="${matchData.matchInfo.team1.teamSName+'   '}"></span>
                                                        <div  data-th-if="${matchData.matchScore != null && matchData.matchScore.team1Score != null
                                                                        && matchData.matchScore.team1Score.inngs1 != null}" data-th-remove="tag" >
                                                           &nbsp;<span class="matchesScore" data-th-text="${matchData.matchScore.team1Score.inngs1.runs + '/'
                                                                    +matchData.matchScore.team1Score.inngs1.wickets + ' (' + matchData.matchScore.team1Score.inngs1.overs + ')'}">
                                                                    </span>
                                                            <div data-th-if="${matchData.matchScore.team1Score.inngs2} != null" data-th-remove="tag" >
                                                                &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchData.matchScore.team1Score.inngs2.runs + '/'
                                                                    +matchData.matchScore.team1Score.inngs2.wickets + ' (' + matchData.matchScore.team1Score.inngs2.overs + ')'}">
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <br><span class="matchesTeamName" data-th-text="${matchData.matchInfo.team2.teamSName+'   '}"></span>
                                                        <div data-th-if="${matchData.matchScore != null && matchData.matchScore.team2Score != null
                                                                        && matchData.matchScore.team2Score.inngs1 != null}" data-th-remove="tag" >
                                                            &nbsp;<span class="matchesScore" data-th-text="${matchData.matchScore.team2Score.inngs1.runs + '/'
                                                                +matchData.matchScore.team2Score.inngs1.wickets + ' (' + matchData.matchScore.team2Score.inngs1.overs + ')'}">
                                                            </span>
                                                            <div data-th-if="${matchData.matchScore.team2Score.inngs2} != null" data-th-remove="tag" >
                                                                &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchData.matchScore.team2Score.inngs2.runs + '/'
                                                                    +matchData.matchScore.team2Score.inngs2.wickets + ' (' + matchData.matchScore.team2Score.inngs2.overs + ')'}">
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <br><span class="matchStatus" data-th-text="${matchData.matchInfo.status}"></span>
                                                         <div data-th-if="${matchData.matchScore == null && !matchData.matchInfo.state.equalsIgnoreCase('Complete')}" data-th-remove="tag" >
                                                                <span class="matchStartTime" data-th-text="${'Match Starts in '+matchData.matchInfo.startDate+'hrs'}"></span>
                                                         </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="ViewMoreMatches" data-th-attrappend="id=${iter1.index}">More Matches &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill svgArrow" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-insert="~{fragments/Footer :: cricFooter}"></div>
<script th:src="@{/js/ViewMatches.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>