<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=1000,user-scalable=0">
    <title>LiveCricketScores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link th:href="@{/css/Header.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/Footer.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/CSCommon.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/ViewMatchScoreCard.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:if="${username == null}" data-th-remove="tag">
    <div data-th-insert="~{fragments/Header :: cricHeader}"></div>
</div>
<div th:if="${username != null}" data-th-remove="tag">
    <div data-th-insert="~{fragments/LoggedInHeader :: cricHeaderLoggedIn}"></div>
</div>
<div class="container matchScoreCard">
    <div class="card">
        <div class="matchSingleTitle card-header" data-th-text="${matchScoreCard.matchHeader.team1.name + '  Vs  ' + matchScoreCard.matchHeader.team2.name
           +', '+matchScoreCard.matchHeader.matchDescription + '  -  ' + matchScoreCard.matchHeader.state }"></div>
        <div class="card-body">
            <div data-th-if="${matchScoreCard != null && matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty()}">
                <span class="matchStatus mobile" style="display: none;" data-th-text="${matchScoreCard.status}"></span>
            </div>
            <span class="matchSingleDetail">Series:</span>
            <span class="matchSingleDetail data" data-th-text="${matchScoreCard.matchHeader.seriesDesc}"></span>&nbsp;
            <span class="matchSingleDetail">Venue:</span>
            <span class="matchSingleDetail data" data-th-text="${matchVenue}"></span>&nbsp;
            <span class="matchSingleDetail">Date & Time:</span>
            <span class="matchSingleDetail data" data-th-text="${matchScoreCard.matchHeader.matchStartTimestamp}"></span>
        <div class="matchNav">
            <div class="nav nav-underline" id="nav-tab" role="tablist">
                <a data-th-href="${'/matches/getMatch/'+matchScoreCard.getMatchHeader().getMatchId()+'/'+matchVenue}" class="nav-link">Commentary</a>
                <a  class="nav-link active" >Scorecard</a>
            </div>
            <div data-th-if="${matchScoreCard != null && matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty()}">
                <p class="card-text">
                <h6 class="card-title matches" data-th-text="${matchScoreCard.matchHeader.team1.name+' Vs '+matchScoreCard.matchHeader.team2.name}">card title</h6>
                <span class="matchesTeamName" data-th-text="${matchScoreCard.matchHeader.matchTeamInfo.get(0).battingTeamShortName+'   '}"></span>
                <div  data-th-if="${matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty() }" data-th-remove="tag" >
                    &nbsp;<span class="matchesScore" data-th-text="${matchScoreCard.scoreCard.get(0).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(0).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(0).scoreDetails.overs + ')'}">
                                                                    </span>
                    <div data-th-if="${matchScoreCard.scoreCard.size() > 2}" data-th-remove="tag" >
                        &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchScoreCard.scoreCard.get(2).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(2).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(2).scoreDetails.overs + ')'}">
                                                                    </span>
                    </div>
                </div>
                <br><span class="matchesTeamName" data-th-text="${matchScoreCard.matchHeader.matchTeamInfo.get(0).bowlingTeamShortName+'   '}"></span>
                <div data-th-if="${matchScoreCard.scoreCard != null && !matchScoreCard.scoreCard.isEmpty()
                                                                        && matchScoreCard.scoreCard.size() > 1}" data-th-remove="tag" >
                    &nbsp;<span class="matchesScore" data-th-text="${matchScoreCard.scoreCard.get(1).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(1).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(1).scoreDetails.overs + ')'}">
                                                            </span>
                    <div data-th-if="${matchScoreCard.scoreCard.size() > 3}" data-th-remove="tag" >
                        &nbsp;<span class="matchesScore" data-th-text="${'&    '+matchScoreCard.scoreCard.get(3).scoreDetails.runs + '/'
                                                                    +matchScoreCard.scoreCard.get(3).scoreDetails.wickets + ' (' + matchScoreCard.scoreCard.get(3).scoreDetails.overs + ')'}">
                                                                    </span>
                    </div>
                </div>
                <br><span class="matchStatus pc" data-th-text="${matchScoreCard.status}"></span>
                <div data-th-if="${matchScoreCard.scoreCard == null && matchScoreCard.isMatchComplete == false && matchScoreCard.matchHeader.complete == false}" data-th-remove="tag" >
                    <span class="matchStartTime" data-th-text="${'Starts on '+matchScoreCard.matchHeader.matchStartTimestamp}"></span>
                </div><br>
                <span class="currentRr" data-th-text="${'CRR:  '+matchScoreCard.scoreCard.get(matchScoreCard.scoreCard.size()-1).scoreDetails.runRate}"></span>
                <div data-th-each="scoreCard,iter1 : ${matchScoreCard.scoreCard}">
                    <div class="card scoreCardDef text-bg-light mb-3 scoreCardPc">
                        <div class="card-header inningsDetail" >
                            <span data-th-text="${scoreCard.batTeamDetails.batTeamShortName}"></span>
                            <span style="float: right" data-th-text="${scoreCard.scoreDetails.runs+'/'+scoreCard.scoreDetails.wickets
                                                +' ('+scoreCard.scoreDetails.overs+')'}"></span>
                        </div>
                        <div class="card-body">
                            <div class="container text-left inningsScoreDetail">
                                <div data-th-if="${scoreCard.batTeamDetails != null && scoreCard.batTeamDetails.batsmenData != null}">
                                    <div class="row card-header">
                                        <div class="col-3">Batter</div>
                                        <div class="col-4 outdesc"></div>
                                        <div class="col">R</div>
                                        <div class="col">B</div>
                                        <div class="col">4S</div>
                                        <div class="col">6S</div>
                                        <div class="col">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_1 != null}">
                                        <div class="col-3 bName">
                                            <span data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.batName}"></span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_1.isCaptain}">(c)</span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_1.isKeeper}">(WK)</span>
                                        </div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_1.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_1.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_2 != null}">
                                        <div class="col-3 bName" >
                                            <span data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.batName}"></span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_2.isCaptain}">(c)</span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_2.isKeeper}">(WK)</span>
                                        </div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_2.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_2.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_3 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_3.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_3.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_4 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_4.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_4.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_5 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_5.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_5.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_6 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_6.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_6.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_7 != null}">
                                        <div class="col-3 bName">
                                            <span data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.batName}"></span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_7.isCaptain}">(c)</span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_7.isKeeper}">(WK)</span>
                                        </div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_7.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_7.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_8 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_8.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_8.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.batName}">
                                            <span data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.batName}"></span>
                                            <span data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.isCaptain()}">(c)</span>
                                            <span data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_9.isKeeper()}">(WK)</span>
                                        </div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_9.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_9.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_10 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_10.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_10.strikeRate}">SR</div>
                                    </div>
                                    <div class="row" data-th-if="${scoreCard.batTeamDetails.batsmenData.bat_11 != null}">
                                        <div class="col-3 bName" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.batName}">Batter</div>
                                        <div class="col-4 outdesc" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.outDesc.isEmpty()
                                                        ? '' : scoreCard.batTeamDetails.batsmenData.bat_11.outDesc}"></div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.balls}">B</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.fours}">4S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.sixes}">6S</div>
                                        <div class="col" data-th-text="${scoreCard.batTeamDetails.batsmenData.bat_11.strikeRate}">SR</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3" >Extras</div>
                                        <div class="col-4" ></div>
                                        <div class="col-5" data-th-text="${scoreCard.extrasData.total
                                                                    +' (b '+scoreCard.extrasData.byes
                                                                     +', lb '+scoreCard.extrasData.legByes
                                                                     +', w '+scoreCard.extrasData.wides
                                                                     +', nb '+scoreCard.extrasData.noBalls
                                                                     +', p '+scoreCard.extrasData.penalty
                                                                     +')'
                                                                     }">

                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div data-th-if="${scoreCard.bowlTeamDetails != null && scoreCard.bowlTeamDetails.bowlersData != null}" data-th-remove="tag">
                                    <div class="row card-header rowHeader bowler">
                                        <div class="col-4">Bowler</div>
                                        <div class="col">O</div>
                                        <div class="col">M</div>
                                        <div class="col">R</div>
                                        <div class="col">W</div>
                                        <div class="col">NB</div>
                                        <div class="col">WD</div>
                                        <div class="col">ECO</div>
                                    </div>
                                    <div class="row rowData bowler" data-th-if="${scoreCard.bowlTeamDetails.bowlersData.bowl_1 != null }">
                                        <div class="col-4 bName" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.bowlName}">Bowler</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.overs}">O</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.maidens}">M</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.wickets}">W</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.no_balls}">NB</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.wides}">WD</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_1.economy}">ECO</div>
                                    </div>
                                    <div class="row rowData bowler" data-th-if="${scoreCard.bowlTeamDetails.bowlersData.bowl_2 != null }">
                                        <div class="col-4 bName" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.bowlName}">Bowler</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.overs}">O</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.maidens}">M</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.wickets}">W</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.no_balls}">NB</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.wides}">WD</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_2.economy}">ECO</div>
                                    </div>
                                    <div class="row rowData bowler" data-th-if="${scoreCard.bowlTeamDetails.bowlersData.bowl_3 != null }">
                                        <div class="col-4 bName" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.bowlName}">Bowler</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.overs}">O</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.maidens}">M</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.wickets}">W</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.no_balls}">NB</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.wides}">WD</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_3.economy}">ECO</div>
                                    </div>
                                    <div class="row rowData bowler" data-th-if="${scoreCard.bowlTeamDetails.bowlersData.bowl_4 != null }">
                                        <div class="col-4 bName" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.bowlName}">Bowler</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.overs}">O</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.maidens}">M</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.wickets}">W</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.no_balls}">NB</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.wides}">WD</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_4.economy}">ECO</div>
                                    </div>
                                    <div class="row rowData bowler" data-th-if="${scoreCard.bowlTeamDetails.bowlersData.bowl_5 != null }">
                                        <div class="col-4 bName" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.bowlName}">Bowler</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.overs}">O</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.maidens}">M</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.wickets}">W</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.no_balls}">NB</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.wides}">WD</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_5.economy}">ECO</div>
                                    </div>
                                    <div class="row rowData bowler" data-th-if="${scoreCard.bowlTeamDetails.bowlersData.bowl_6 != null }">
                                        <div class="col-4 bName" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.bowlName}">Bowler</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.overs}">O</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.maidens}">M</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.runs}">R</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.wickets}">W</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.no_balls}">NB</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.wides}">WD</div>
                                        <div class="col" data-th-text="${scoreCard.bowlTeamDetails.bowlersData.bowl_6.economy}">ECO</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </p>
            </div>
            <div class="container" style="margin-top: 1.1rem;" data-th-if="${matchScoreCard == null || matchScoreCard.getScoreCard() == null}">
                <div class="alert alert-success d-flex align-items-center" role="alert" style="width: 100% !important;">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div style="margin: auto;">
                        Match is yet to start
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        </div>
    </div>
</div>
<div data-th-insert="~{fragments/Footer :: cricFooter}"></div>
<script th:src="@{/js/ViewMatchScoreCard.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>